  <!-- footer content -->
  <footer>
    <div class="pull-right">
      Kalvin Niam - Rissa Aulia - Nabila Maulidia
    </div>
    <div class="clearfix"></div>
  </footer>
  <!-- /footer content -->